body{background-color: #eeeeee; color:#8c8c8c;}
.main{ justify-content: flex-start; }
.main .col *{ color: #5a5a5a; }
.main .col p{ margin:0px ; }
.main .col h5{ margin:0px ; text-wrap: nowrap; font-family:'Gotham Book'; font-size: 1rem !important; }
.list-inline { padding-left: 0; margin-left: -5px; list-style: none; }
.list-inline > li { display: inline-block; }
.list-inline > li img{ width: 58px; }
input{ background-color: #ffffff !important; text-align: center; }
section{background-color: #eeeeee; }
.collection { border: none  }
.collection .collection-item{ background-color: transparent; border: none; text-align: left }
.header-logo-menu{
    margin: 1rem 0 3rem 0;
    color: #434141;
}
.header-logo-menu .username{
    text-transform: uppercase;
}
.header-logo-menu .fa-bell{
    font-size: 2.1rem;
    margin-top: 7px;
}
#toast-container {
    top: 40px !important;;
}

.coberturas .cobertura {
    padding-top: 5px;
    padding-bottom: 5px;
}

.coberturas .cobertura .checkbox{
    padding-top:0px;
}
.coberturas .cobertura .checkbox input {
    margin-top: 6px;
}

#wizard .form-wizard-nav ul li span.de_max {
    display: none;
}
.card-produto h2.text-light{
    min-height: 80px;
    height: auto;
}

/** COLORS DEFAULT
 */
.color-primary{
    color: #006799 !important;
}
.color-secondary{
    color: #3E3E3F !important;
}
.color-tertiary{
    color: #68B2C6 !important;
}
.background-primary{
    background-color: #006799 !important;
}
.background-secondary{
    background-color: #3E3E3F !important;
}
.background-tertiary{
    background-color: #68B2C6 !important;
}
.border-primary{
    border-color: #006799 !important;
}
.border-secondary{
    border-color: #3E3E3F !important;
}
.border-tertiary{
    border-color: #68B2C6 !important;
}


/** STEP
 */
.nav-steps{
    text-align: center;
}
.nav-steps .item{
    padding: 5px;
}
.step-icons {
    background: url('../images/icones/step-icons.png') no-repeat top left;
    padding-left: 28px;
    padding-top: 18px;
}
.step-icons.data { background-position: -27px 0px;  }
.step-icons.data.active { background-position: 1px 1px;  }

.step-icons.plano { background-position: -26px -34px;  }
.step-icons.plano.active { background-position: 1px -34px;  }

.step-icons.pagamento { background-position: -23px -101px; }
.step-icons.pagamento.active { background-position: 2px -101px; }

.step-icons.lista { background-position: -26px -67px; }
.step-icons.lista.active { background-position: 2px -67px; }

.step-icons.feito { background-position: -26px -134px; }
.step-icons.feito.active { background-position: 1px -134px; }
.step-radius{ padding: 25px 14px 6px 13px !important; border-radius: 50px 50px !important; border:1px solid #bfbfbf; }
.step-radius.active{ border:1px solid transparent; }

/** MENU SIDEBAR
 */
#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #363636;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    opacity: 0.9;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #ffffff;
    background: #c51f1b;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    top: 0;
    right: 0;
    /*position: fixed;*/
    z-index: 1;
}
#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
.toggle {
    margin: 2px 45px 0 0;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 27px;
}
.navbar-toggle .icon-bar {
    background: #414141;
    height: 4px;
    border-radius: inherit;
}
/** FIM MENU **/

#validateSubmitForm input,select,.select2{
    -webkit-box-shadow: 0px 7px 14px rgba(140, 140, 140, 0.45);
    -moz-box-shadow: 0px 7px 14px rgba(140, 140, 140, 0.45);
    box-shadow: 0px 7px 14px rgba(140, 140, 140, 0.45);
}
.select2-container--default .select2-selection--single{
    background-color: #fff;
    border: none;
    border-radius: 4px;
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    left: auto;
    border-color: transparent;
    top: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
    font-family: "Glyphicons Halflings";
    color:#b5b5b5;
    content:"\e114";
    font-weight: 100;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color:transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before{
    font-family: "Glyphicons Halflings";
    color:#b5b5b5;
    content:"\e113";
    font-weight: 100;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:4px;
}
.form .form-group > label, .form-inline .form-group > label{
    top: -5px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    opacity: 1;
}

.title-h2{
    color: #8c8c8c;
    font-size: 2rem;
    text-align: center;
    margin-right: 27px;
    font-weight: 400;
    width: 100%;
}
.btns{
    text-align: center;
}
.btns .btn-proximo{
    width: 70%;
    background: #c41f1b;
    padding: 7px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 100;
    margin-bottom:4rem;
}
.btns .btn-proximo .fa-angle-right{
    margin-left: 10px;
    font-weight: bold;
    font-size: 2.3rem;
}
.block-plans .card{
    height: 325px;
    border-radius: 10px;
}
.name-plan{
    font-size: 1.5rem;
}
.moeda-plan{
    font-size: 1.5rem;
    position: absolute;
}
.price-plan{
    font-size: 4rem;
    margin-left: 20px;
    margin-top: -4px;
    display: block;
}
.details-plan{
    margin-left: 50px;
}
.details-plan .success{
    color:#10bb10;
}
.details-plan .error{
    color:#c61f1c;
}
.details-plan li{
    text-align: left;
    font-size: 1.5rem;
}
.more-plan{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    color: #c61f1c;
    margin-top: 9px;
    display: block;
}
.more-plan:hover{
    color: #c61f1c;
    text-decoration:none;
}
.this-plan{
    display: block;
    text-align: center;
    margin-top: 15px;
}
.this-plan-btn{
    width: 90%;
    background:#c41f1b;
}
.this-plan-btn .fa-angle-right {
    margin-left: 10px;
    font-weight: bold;
    font-size: 2.3rem;
}
.carousel-control{
    width: 15%;
}
.carousel-control .glyphicon-chevron-left:before{
    font-size: 8rem;
    content: "\f104";
    font-family: FontAwesome;
    margin-top: -40px;
    display: block;
    color: #000000;
}
.carousel-control .glyphicon-chevron-right:before{
    font-size: 8rem;
    content: "\f105";
    font-family: FontAwesome;
    margin-top: -40px;
    display: block;
    color: #000000;
}
.carousel-indicators{
    bottom: -30px;
}
.carousel-indicators li{
    border:1px solid #828282;
}
.carousel-indicators .active{
    background-color:#828282;
}
.btn-whats{
    position: fixed;
    right: 0;
    bottom: 10px;
    background-color: #828282;
    padding: 10px 20px;
}
.btn-whats .fa-whatsapp{
    color: #ffffff;
    font-size: 4rem;
    font-weight: 500;
}
.btn-info{
    position: fixed;
    left: 0;
    bottom: 10px;
    background-color: #828282;
    padding: 10px 20px;
}
.btn-info .fa-info-circle{
    color: #ffffff;
    font-size: 4rem;
    font-weight: 500;
}
.modal-more-info{
    border:1px solid red;
    position: relative;
    width: 100%;
    height: 60px;
    background: #313D4C;
    margin: 0;
    z-index: 99;
}
.modal-dialog{
    margin: 140px 60px;
}
.modal-dialog .modal-header{
    background: none;
}
.modal .close{
    position: absolute;
    top: 16px;
    right: 23px;
    font-size: 4rem;
    color: #ffffff;
    opacity: 1;
    text-shadow: none;
    font-weight:100;
}
.modal-backdrop.in{
    opacity: 0.8;
}
.modal-content{
    box-shadow: none;
    background: transparent;
    border:none;
}
.modal-body{
    border-radius: 10px;
    background: #ffffff;
}
.modal-body .title{
    font-size: 1.8rem;
    text-align: center;
    margin-top: -7px;
}
.modal-body .price-block{
    text-align: center;
}
.modal-body .price-block .cifrao{
    font-size: 1.5rem;
    position: absolute;
}
.modal-body .price-block .moeda{
    margin-left: -20px;
}
.modal-body .price-block .price{
    font-size: 4rem;
    margin-top: -15px;
    display: inline-block;
}
.modal-body .details-plan{
    margin-left: 30px;
}
.pg-pagamento-credito{
    text-align: center;
}
.pg-pagamento-credito .fa-lock{
    border: 1px solid;
    font-size: 1.4rem;
    padding: 5px 8px;
    border-radius: 100%;
    margin-bottom: 3rem;
}
.pg-pagamento-credito .form-group{
    margin-bottom: 3.2rem;
}
.pg-pagamento-credito label{
    margin-top: -15px;
}

/* LOGIN
 */
.icon-login{
    text-align: center;
    margin-bottom: 10px;
}
.icon-login .fa-lock{
    border: 1px solid;
    padding: 5px 7px;
    font-size: 1.5rem;
    border-radius: 15px 15px;
}
.form-login input{
    -webkit-box-shadow: 0px 7px 14px rgba(140, 140, 140, 0.45);
    -moz-box-shadow: 0px 7px 14px rgba(140, 140, 140, 0.45);
    box-shadow: 0px 7px 14px rgba(140, 140, 140, 0.45);
}
.form-login .message{
    display: none;
}
.form-login .form-group{
    text-align: center;
}
.form-login .form-group .control-label{
    text-transform: uppercase;
    font-size: 12px;
}
/* END LOGIN
 */

@media (max-width: 768px){
    #wizard .form-wizard-nav ul li {
        display: none;
    }
    #wizard .form-wizard-nav ul li.active {
        display: inherit;
    }
    #wizard .form-wizard-nav ul li.active a > span.step {
        width: 80px;
        height: 80px;
        padding-top: 22px;
    }
    #wizard .form-wizard-nav ul li.active a > span.title {
        float: left;
        width:100%;
    }
    #wizard .form-wizard-nav ul li span.de_max {
        display: inherit;
        padding-left: 4px;
        color: #8a9598;
    }
}